<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2>Error al crear producto, intente de nuevo</h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Imagen' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label 'Descripcion' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'Precio' %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Producto' %>
  </div>
<% end %>
