<p id="notice"><%= notice %></p>

<h1>Navbars</h1>

<hr>

<div class="action-links">
  <%= link_to 'Atras', root_path %>
  <div class="object-links">
    <%= link_to 'Crear Navbar', new_navbar_path %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>URL</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @navbars.each do |navbar| %>
      <tr>
        <td><%= navbar.label %></td>
        <td><%= navbar.url %></td>
        <td>
          <%= link_to edit_navbar_path(navbar) do %>
            <span class="material-icons">mode_edit</span>
          <% end %>
        </td>
        <td>
          <%= link_to navbar, method: :delete, data: { confirm: 'Está seguro?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

